extends master

block body
    header
        .container
            .container__inner
                h1.center Happy Birthday!
    section.section-wrapper
        .container.container--bg
            .container__inner
                p The big day is finally here! It's SmallFoot's birthday and the party has just begun.<br>All of his bigfoot friends are here, even those who live further away in other parts of the forest!<br>The reception and connection speed is really bad where some of them live, so they are usually hard to get in touch with (since the Messenger app weighs over 100mb, so it's almost impossible for them to download it.)
                p But with your help, SmallFoot was able to make a RSVP website that didn't take forever to load on their phones.<br>
