extends master.pug

block body
    h1 Sagan om SmåFot och responsiva bilder
    p SmåFot ska göra en sajt där han bjuder in sina Bigfoot-kompisar till sitt födelsedagskalas. Problemet är att alla Bigfoots bor långt ut i skogen i nordvästra USA där det är dålig mottagning. Dessutom är de minderåriga och har därför bara kontantkort. Den surfpotten äts snabbt upp när de YouTubar  dokumentärer om Loch Ness-odjuret. Därför är det viktigt för SmåFot att sajten väger lite och laddar snabbt så att så många av hans kompisar som möjligt kan komma på hans kalas :)
    a(href="/level/1") Starta
    