extends master

block body
    h1.h1.h1--title.center Learn Responsive Images
    p.center
        | You "know" about responsive images, right?
        br
        | Now, the time has come for you to learn about them for real!
    p.center A story based mini game that teaches you about responsive images will soon launch here.
    p.center Soon you'll find a fun, rewarding story based mini game here that teaches you the very basics of responsive images.

block scripts
