doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet")
        link(rel="stylesheet" href="/css/style.css")
        title= title
    body
        block body

        block scripts
        script(src="/js/main.js")
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-28191752-9')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-28191752-9');
