doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        // Search Engine
        meta(name='description', content='A story based mini game that teaches you about responsive images')
        meta(name='image', content='https://learnresponsiveimages.com/img/share.png')
        // Schema.org for Google
        meta(itemprop='name', content='Learn Responsive Images')
        meta(itemprop='description', content='A story based mini game that teaches you about responsive images')
        meta(itemprop='image', content='https://learnresponsiveimages.com/img/share.png')
        // Twitter
        meta(name='twitter:card', content='summary')
        meta(name='twitter:title', content='Learn Responsive Images')
        meta(name='twitter:description', content='A story based mini game that teaches you about responsive images')
        // Open Graph general (Facebook, Pinterest & Google+)
        meta(name='og:title', content='Learn Responsive Images')
        meta(name='og:description', content='A story based mini game that teaches you about responsive images')
        meta(name='og:image', content='https://learnresponsiveimages.com/img/share.png')
        meta(name='og:image:width', content='1200')
        meta(name='og:image:height', content='630')
        meta(name='og:url', content='https://learnresponsiveimages.com')
        meta(name='og:site_name', content='Learn Responsive Images')
        meta(name='og:type', content='website')
        link(href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet")
        link(rel="stylesheet" href="/css/style.css")
        title= title
    body
        block body

        block scripts
        script(src="/js/main.js")
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-28191752-9')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-28191752-9');
