extends ../master.pug

block body
    .level.level--1
        h2 Nivå 1
        .level__description
            p SmåFot vill ha en stor bild i sidhuvudet från förra årets kalas. Den ska få kompisarna att minnas hur roligt det var då och bli peppade på nytt! SmåFot designar en modern och sajt som ser riktigt bra ut på breda skärmar. (Flera av hans Bigfoot-kompisar är gamers och har ultrabreda skärmar.)
        
            h3 Assets
            pre.level__assets plask.jpg

            h3 Tip
            .level__tip 
                .inner Add a src attribute
    
        h3 Code!
        .level__solve
            input.level__editor(type="text" value="<img>" data-start-value="<img>")
            button.level__compile Spara

        .level__solution--correct.alert.hidden
            .inner
                h2 Bra!
                p Du har hjälpt SmåFot att lägga till en stor bild på sin sajt.
                a.button(href="/level/2") Fortsätt

        .level__solution--wrong.alert.hidden
            .inner
                h2 Fel!
                button.js-reset-level Testa igen
        
        iframe#render.hidden

block scripts