@import "~normalize-scss/sass/normalize";
@import "~susy/sass/susy";

@include normalize();

/**
 * Colors
 */
$grey: #E7EED2;
$dark-green: #466551;
$green: #368C72;
$light-green: #7ECBA1;

.bg-grey {
    background: $grey;
}
.bg-dark-green {
    background: $dark-green;
}
.bg-green {
    background: $green;
}
.bg-light-green {
    background: $light-green;
}

.text-grey {
    color: $grey;
}
.text-dark-green {
    color: $dark-green;
}
.text-green {
    color: $green;
}
.text-light-green {
    color: $light-green;
}

/**
 * Globals
 */
html, body {
    min-height: 100%;
}

body {
    padding-bottom: 1rem;
    border-top: 10px solid $light-green;
    background: $grey;
    font-family: sans-serif;
    color: $dark-green;
    line-height: 1;
}

img {
    max-width: 100%;
    height: auto;
}


/**
 *
 * Helpers
 *
 */
.mt1 {
    margin-top: 1rem;
}
.mt2 {
    margin-top: 2rem;
}
.mb1 {
    margin-bottom: 1rem;
}
.mb2 {
    margin-bottom: 2rem;
}

/**
 *
 * Typografi
 *
 */
@mixin font {
    font-family: 'Chewy', cursive;
}

h1, .h1 {
    @include font;
    //margin: 2rem 0;
    margin: 2rem 0 .5rem 0;
    font-size: 3rem;
    
    &.h1--title {
        font-size: 2.5rem;
        line-height: 1.2;
    }
}
h2, .h2 {
    @include font;
    margin: 2rem 0 .5rem 0;
    font-size: 2rem;
}

h3, .h3 {
    @include font;
    margin: 1rem 0 .5rem 0;
    font-size: 1.5rem;
}

p, .p {
    margin: 1rem 0;
    font-size: 1rem;
    font-family: monospace;
    line-height: 1.2;
    // 16px på större skärmar. Samlar allt här ist för
    // att lägga i mq.scss
    &.p--small {
        font-size: 1rem;
    }
    &.p--large {
        font-size: 1.5rem;
    }
}

.container {
    margin: 0 auto;
    overflow: hidden;
    width: 95%;
    max-width: 800px;
}


/**
 *
 * Landningssida
 *
 */
#mc_embed_signup {
    margin-top: 1rem;
}
.mc-field-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    input {
        margin-top: 0.5rem;
        padding: .5rem 1rem;
        font-size: 16px;
        font-family: monospace;
        line-height: 1;
        border: none;
        border-radius: 5px;
    }
    .button {
        background: $green;
    }
}

/**
 * Levels
 */
.level__description {
    width: susy-span(12 of 12);
    line-height: 1.2;
}
.level__details {
    width: susy-span(12 of 12);
}
.level__assets {
    background: $green;
    font-family: monospace;
    color: white;
    ul {
        margin: 0;
        padding: 0 0 0 1rem;
    }
}

.level__todo {
    background: $light-green;
    font-family: monospace;
    color: $dark-green;
    p {
        margin: 0;
    }
}

.level__editor-wrapper {
    display: flex;
}

.level__editor {
    padding: 8px;
    flex: 4;    
    font-family: monospace;
    font-size: 16px;
    border: none;
}

.level__compile {
    flex: 1;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    overflow: scroll;
    opacity: 0;
    transition: opacity 5s ease-in-out;
    .has-modal & {
        opacity: 1;
    }
}
.modal {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
body.has-modal {
    overflow: hidden;
}
.modal__body {
    margin: 0 auto;
    width: 95%;
    background: $grey;
}
.modal__title {
    margin: 0 0 1rem 0;
    text-align: center;
}

/**
 * Helpers
 */
.center {
    text-align: center;
}

.center-block {
    margin: 0 auto;
    display: block;
}

.hidden {
    display: none;
}

.inner {
    padding: 1rem;
}

button, .button {
    font-family: monospace;
    padding: 10px;
    background: $dark-green;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.alert {
    border: 1px solid $light-green;
    overflow: hidden;
}

@import "mq";