@import "~normalize-scss/sass/normalize";
@import "~susy/sass/susy";

@include normalize();

/**
 * Colors
 */
$grey: #E7EED2;
$dark-green: #466551;
$green: #368C72;
$light-green: #7ECBA1;

/**
 * Globals
 */
html, body {
    height: 100%;
}

body {
    border-top: 10px solid $green;
    background: $grey;
    font-family: sans-serif;
    color: $dark-green;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

@mixin font {
    font-family: 'Chewy', cursive;
}
h1, .h1 {
    @include font;
    &.h1--title {
        font-size: 2.5rem;
        line-height: 1.2;
    }
}
h2, .h2 {
    @include font;
    font-size: 2.5rem;
}

p, .p {
    font-size: 1.5rem;
    font-family: monospace;
}

.container {
    margin: 0 auto;
    overflow: hidden;
    width: 95%;
    max-width: 800px;
}

/**
 * Landing page
 */
.sign-up {
    padding: 2rem 0;
    background: $green;
    color: $grey;
    h2 {
        margin: 0 0 1rem 0;
        line-height: 1.2;
    }
}
.mc-field-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    input {
        margin-top: 0.5rem;
        padding: .5rem 1rem;
        border: none;
        border-radius: 5px;
    }
    .button {
        background: $light-green;
    }
}

/**
 * Levels
 */
.level__description {
    width: susy-span(6 of 12);
    line-height: 1.2;
}
.level__assets {
    padding: 10px;
    background: $green;
    color: white;
}

.level__tip {
    background: $light-green;
    color: $dark-green;
}

.level__solve {
    margin-top: 10px;
}

.level__editor {
    padding: 8px;
    width: 100%;
    font-family: monospace;
    font-size: 16px;
    border: none;
}

.level__compile {}

/**
 * Helpers
 */
.center {
    text-align: center;
}

.hidden {
    display: none;
}

.inner {
    padding: 10px;
}

button, .button {
    padding: 10px;
    background: $dark-green;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.alert {
    border: 1px solid $light-green;
    overflow: hidden;
}

@import "mq";